<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= dish.title %></h1>
            <hr>
            <div>
                <img src="<%= dish.imageUrl %>" alt="<%= dish.title %>">
            </div>
            <h2><%= dish.price %></h2>
            <p><%= dish.description %></p>
            <% if(isAuthenticated) {%>
                <%- include('../includes/add-to-cart.ejs', { dish : dish })%>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>